<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeepAttachmentsOnReply.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeepAttachmentsOnReply.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeepAttachmentsOnReply.Properties.Settings>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
        </KeepAttachmentsOnReply.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <KeepAttachmentsOnReply.Properties.Settings>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://github.com/ahaenggli/OutlookAddIn_KeepAttachmentsOnReply/releases/latest/download/OutlookAddIn_KeepAttachmentsOnReply.zip</value>
            </setting>
            <setting name="VersionUrl" serializeAs="String">
                <value>https://api.github.com/repos/ahaenggli/OutlookAddIn_KeepAttachmentsOnReply/releases/latest</value>
            </setting>
        </KeepAttachmentsOnReply.Properties.Settings>
    </applicationSettings>
</configuration>